body {
    min-width: 354px;
}

@media (max-width: 990px) {
    .flip-card {
        width: 50%;
        aspect-ratio: 1/1;
    }
}

@media (max-width: 770px) {
    .flip-card {
        width: 100%;
        max-width: 240px;
        aspect-ratio: 1/1;
    }

    .image-radio {
        width: 100%;
        height: auto;
    }

    .upload-zone {
        flex-direction: column;
    }

    .score-zone.mt-5 {
        margin-top: 0 !important;
    }
}

@media (max-width: 575px) {
    .result {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .flip-card {
        width: 100%;
        max-width: 100%;
        aspect-ratio: 1/1;
    }

    .score-zone.mt-5 {
        margin-top: 48px !important;
    }
}