body {
    padding-left: 100px;
    padding-right: 100px;
}

div {
    border-style: solid;
    border-color: #0080FF;
    border-radius: 25px;
    padding: 10px;
}

.image {
    padding: 0;
    height: fit-content;
    width: fit-content;
}